<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	<nav th:replace="layouts :: navbar"></nav>
	<br>
	<div class="container">
		<h3>Main Dashboard</h3>
		<hr>
		<h4>Current Projects</h4>
		<div class="row">
			<div class="col-md-6">

				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Project Name</th>
							<th>Project Stage</th>
						</tr>
					</thead>

					<tbody>
						<!-- first we need to define iterating variable and collection object  (${projects} contains actual java object passing from backend
				contains actual data forEach ekak wage tamai => aProject is a temporary variable)-->
						<tr th:each="aProject : ${projectList}">
							<td th:text="${aProject.name}"></td>
							<td th:text="${aProject.stage}"></td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<canvas id="myPieChart" height="50" width="50"></canvas>
				
				<script>
					var chartData = "[[${projectStatusCount}]]"
				</script>
			</div>
		</div>
	</div>

	<br> <br>
		<div class="container">
		<h4>Employees</h4>
		<div class="row">
			<div class="col-md-6">


				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>First Name</th>
							<th>First Name</th>
							<th>Project Count</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="anEmployeeProjectCnt : ${employeeListProjectCount}">
							<td th:text="${anEmployeeProjectCnt.firstName}"></td>
							<td th:text="${anEmployeeProjectCnt.lastName}"></td>
							<td th:text="${anEmployeeProjectCnt.projectCount}"></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>
	<script type="text/javascript" th:src="@{/js/myChart.js}"></script>
</body>