<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace ="layouts :: header"></head>

<body>
<nav th:replace ="layouts :: navbar"></nav>

<div>
	<h4>Current Projects</h4>
	<table>
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Project Stage</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="aProject : ${projectList}">
				<td th:text="${aProject.name}"></td>
				<td th:text="${aProject.stage}"></td>
			</tr>
		</tbody>

	</table>
</div>
<br><br>
<div>
	<h4>Employees</h4>
	<table>
		<thead>
			<tr>
				<th>Employee's First Name</th>
				<th>Employee's First Name</th>
				<th>Employee's Email</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="employee : ${employeeList}">
				<td th:text="${employee.firstName}"></td>
				<td th:text="${employee.lastName}"></td>
				<td th:text="${employee.email}"></td>
			</tr>
		</tbody>

	</table>
</div>

</body>
