<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace ="layouts :: header"></head>

<body>

<nav th:replace ="layouts :: navbar"></nav>
<br>
	<div class="container">
		<!-- <form action="/employees/save" th:object="${employee}" method="POST"> -->
		<form th:action="@{/employees/save}" th:object="${employee}" method="POST">    <!-- by adding thymeleaf (th:action) instead of normal action we can by default
				have csrf token included and no need to write it externally therefore we can comment it out -->
			<label>First Name</label>
			<input type="text" placeholder="First Name" th:field="${employee.firstName}"><br>
			<label>Last Name</label>
			<input type="text" placeholder="Last Name" th:field="*{lastName}"><br>
			<label>Email</label>
			<input type="text" placeholder="Email" th:field="${employee.email}">

			<!--  <input type="hidden" name="_CSRF" th:value="${_csrf.token}"/>-->
			<button type="submit">Register Employee</button>

		</form>
	</div>
</body>
</html>