<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace ="layouts :: header"></head>

<body>

<nav th:replace ="layouts :: navbar"></nav>
<br>
	<div class="container">
		<!-- <form action="/employees/save" th:object="${employee}" method="POST"> -->
		<form th:action="@{/employees/save/}" th:object="${employee}" method="POST">    <!-- by adding thymeleaf (th:action) instead of normal action we can by default
				have csrf token included and no need to write it externally therefore we can comment it out -->
				
			<!-- this will use to bind the id for given user inside the update button -->	
			<input type="hidden" th:field="${employee.employeeId}"/>
			
			<!--<div class="form-group row">-->
				<label>First Name</label><br>
				<input type="text" placeholder="First Name" th:field="${employee.firstName}"><br>
				<span style="color:red" th:if="${#fields.hasErrors('firstName')}"  
					th:errors="${employee.firstName}" >    <!-- backend eken return karana Errors object eke field kiyana property eke firstname eke errors tiyenawada
															tiyenawanam ${employee.firstName}" magin karanne actual entity eke tiyena error eka show karanawa methana-->
				</span><br>
			<!--</div>-->
			
			<!--<div class="form-group row">-->
				<label>Last Name</label><br>
				<input type="text" placeholder="Last Name" th:field="*{lastName}"><br>
				<span style="color:red" th:if="${#fields.hasErrors('lastName')}"  
					th:errors="${employee.lastName}" > 
				</span><br>
			<!--</div>-->
			
			<!--<div class="form-group row">-->
				<label>Email</label><br>
				<input type="text" placeholder="Email" th:field="${employee.email}"><br>
				<span style="color:red" th:if="${#fields.hasErrors('email')}"  
					th:errors="${employee.email}" > 
				</span><br>
			<!--</div>-->
			<br>
			<!--  <input type="hidden" name="_CSRF" th:value="${_csrf.token}"/>-->
			<button class="btn btn-info col-2" type="submit">Register Employee</button>

		</form>
	</div>
</body>
</html>